body {
	background-color:  #99c2ff;
	font-family: 'Oswald', sans-serif;
}

#bodyMain2 {
	background: url(https://images.unsplash.com/photo-1496268280706-ec91c5e133c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80); 
	background-size: 100%;
}

.container {
	text-align: center;
	width: 500px;
	margin: 0 auto;
}

h1 {
	color: white;
	background-color: black;
}

.cards {
	background-color: white;
	padding: 40px;
	font-size: 24px;
	border: 2px solid black;
	cursor: pointer;
}

#btn-backHome{
	padding: 10px;
	font-size: 20px;
	cursor: pointer;
	background-color: #E8E8E8;
	border: dotted white 7px;
	transition: 0.2s;

}	

#btn-backHome:hover {
	font-size: 22px;
}