body {
	background-color:  #99c2ff;
	font-family: 'Oswald', sans-serif;
}

.container {
	text-align: center;
	width: 500px;
	margin: 0 auto;
}

.cards {
	background-color: white;
	padding: 40px;
	font-size: 24px;
	border: 2px solid black;
	cursor: pointer;
}

#btn-backHome{
	padding: 10px;
	font-size: 20px;
	cursor: pointer;
	background-color: #E8E8E8;
	border: dotted white 7px;
	transition: 0.2s;

}	

#btn-backHome:hover {
	font-size: 22px;
}